<body style="height: 100%">
<article>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20cavas/cava%20u.png"></a></div>
    <p>Nom: Cava codorniu brut </p>
    <p>Preu: 7,95 € </p>
    <select name="Quantitat">
      <option value="">Quantitat</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <br>
    <button type="submit" value="Compra ara"></button>
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20cavas/cava%20dos.png"></a></div>
    <p>Nom: Cava Marfil brut nature</p>
    <p>Preu: 8,15 € </p>
    <select name="Quantitat">
      <option value="">Quantitat</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20cavas/cava%20tres.png"></a></div>
    <p>Nom: Cava Mistinguett brut reserva</p>
    <p>Preu: 14,25 € </p>
    <select name="Quantitat">
      <option value="">Quantitat</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20licors/gin/gin%20u.png"></a></div>
    <p>Nom: Ginebra Beefeater</p>
    <p>Preu: 16,81 € </p>
    <select name="Quantitat">
      <option value="">Quantitat</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20licors/gin/gin%20dos.png"></a></div>
    <p>Nom: Bombay Sapphire </p>
    <p>Preu: 15,95 € </p>
    <select name="Quantitat">
      <option value="">Quantitat</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20licors/gin/gin%20tres.png"></a></div>
    <p>Nom: Ginebra London Dry botella 70 cl</p>
    <p>Preu: 21,81 € </p>
    <select name="Quantitat">
      <option value="">Quantitat</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20licors/ron/ron%20u.png"></a></div>
    <p>Nom: Ron añejo Brujal 70 cl</p>
    <p>Preu: 12,33 € </p>
    <select name="Quantitat">
      <option value="">Quantitat</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20licors/ron/ron%20dos.png"></a></div>
    <p>Nom: Havana Club</p>
    <p>Preu: 13,89 € </p>
    <select name="Quantitat">
      <option value="">Quantitat</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20licors/ron/ron%20tres.png"></a></div>
    <p>Nom: Ron Barceló Añejo Ron Dominicano 70 cl</p>
    <p>Preu: 13,89 € </p>
    <select name="Quantitat">
      <option value="">Quantitat</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20vins/vi blanc/blanc%20u.png"></a></div>
    <p>Nom: El Miracle Nº03 Blanco 2021</p>
    <p>Preu: 5,79 € </p>
    <select name="Quantitat">
      <option value="">Quantitat</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20vins/vi blanc/blanc%20dos.png"></a></div>
    <p>Nom: Blanco de María</p>
    <p>Preu: 6,20 € </p>
    <select name="Quantitat">
      <option value="">Quantitat</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20vins/vi%20blanc/blanc%20tres.png"></a></div>
    <p>Nom: Chaval Macabeo</p>
    <p>Preu: 7.90 € </p>
    <select name="Quantitat">
      <option value="">Quantitat</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20vins/vi negre/negre%20u.png"></a></div>
    <p>Nom: Viña Pomal</p>
    <p>Preu: 20,07 € </p>
    <select name="Quantitat">
      <option value="">Quantitat</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20vins/vi negre/negre%20dos.png"></a></div>
    <p>Nom: Ramón Bilbao</p>
    <p>Preu: 3.66 € </p>
    <select name="Quantitat">
      <option value="">Quantitat</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20vins/vi negre/negre%20tres.png"></a></div>
    <p>Nom: Gran Tinto</p>
    <p>Preu: 10.75 € </p>
    <select name="Quantitat">
      <option value="">Quantitat</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20vins/vi rosat/rosat%20u.png"></a></div>
    <p>Nom: Quelías Rose</p>
    <p>Preu: 7.10 € </p>
    <select name="Quantitat">
      <option value="">Quantitat</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20vins/vi rosat/rosat%20dos.png"></a></div>
    <p>Nom: Barton & Gustier</p>
    <p>Preu: 11.90 € </p>
    <select name="Quantitat">
      <option value="">Quantitat</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20vins/vi rosat/rosaat%20tres.png"></a></div>
    <p>Nom: Vi rosat Faustino VII</p>
    <p>Preu: 2.90 € </p>
    <select name="Quantitat">
      <option value="">Quantitat</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20licors/whiskey/wiskey%20tres.png"></a></div>
    <p>Nom: Red Label whisky</p>
    <p>Preu: 15.90 € </p>
    <select name="Quantitat">
      <option value="">Quantitat</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20licors/whiskey/wiskey%20dos.png"></a></div>
    <p>Nom: Jack Daniel's</p>
    <p>Preu: 20.90 € </p>
    <select name="Quantitat">
      <option value="">Quantitat</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20licors/whiskey/wiskey%20u.png"></a></div>
    <p>Nom: Whisky Ballentine's</p>
    <p>Preu: 11.90 € </p>
    <select name="Quantitat">
      <option value="">Quantitat</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <br>
    <input type="submit" value="Compra ara">
  </div>
</article>
<body>
<body>

