<body style="height: 100%">
<article>
  <select [(ngModel)]="categoria" (change)="filtrarPorCategoria($event)" id="categoria">
    <option value="todos">Tot</option>
    <option value="cava">Cava</option>
    <option value="Gin">Gin</option>
    <option value="Ron">Ron</option>
    <option value="vi_blanc">Vi Blanc</option>
    <option value="vi_negre">Vi Negre</option>
    <option value="vi_rosat">Vin Rosat</option>
    <option value="whisky">Whisky</option>
  </select>

  <div *ngFor="let producte of productesFiltrats" class="caixa">
    <div *ngIf="producte">
      <img src="{{ producte.img }}" alt="" class="imatge">
      <p>{{ producte.name }}</p>
      <p>Preu: {{ producte.preu }}€</p>
    </div>
    <button (click)="addToCart(producte)">Afegeix a cistella</button>
  </div>
</article>
</body>

