<body style="height: 100%">
<article>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20cavas/cava%20u.png"></a></div>
    <p>Nom: Cava codorniu brut </p>
    <p>Preu: 7.95 € </p>
    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20cavas/cava%20dos.png"></a></div>
    <p>Nom: Cava Marfil brut nature</p>
    <p>Preu: 8.15 € </p>

    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20cavas/cava%20tres.png"></a></div>
    <p>Nom: Cava Mistinguett brut reserva</p>
    <p>Preu: 14.25 € </p>

    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20licors/gin/gin%20u.png"></a></div>
    <p>Nom: Ginebra Beefeater</p>
    <p>Preu: 16.81 € </p>

    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20licors/gin/gin%20dos.png"></a></div>
    <p>Nom: Bombay Sapphire </p>
    <p>Preu: 15.95 € </p>

    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20licors/gin/gin%20tres.png"></a></div>
    <p>Nom: Ginebra Bulldog</p>
    <p>Preu: 21.81 € </p>

    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20licors/ron/ron%20u.png"></a></div>
    <p>Nom: Ron añejo Brujal </p>
    <p>Preu: 12.33 € </p>

    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20licors/ron/ron%20dos.png"></a></div>
    <p>Nom: Havana Club</p>
    <p>Preu: 13.89 € </p>

    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20licors/ron/ron%20tres.png"></a></div>
    <p>Nom: Ron Barceló Añejo </p>
    <p>Preu: 13.89 € </p>

    <br>
    <input type="submit" value="Compra ara">

  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20vins/vi blanc/blanc%20u.png"></a></div>
    <p>Nom: El Miracle Nº03 </p>
    <p>Preu: 5.79 € </p>

    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20vins/vi blanc/blanc%20dos.png"></a></div>
    <p>Nom: Blanco de María</p>
    <p>Preu: 6.20 € </p>

    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20vins/vi%20blanc/blanc%20tres.png"></a></div>
    <p>Nom: Chaval Macabeo</p>
    <p>Preu: 7.90 € </p>

    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20vins/vi negre/negre%20u.png"></a></div>
    <p>Nom: Viña Pomal</p>
    <p>Preu: 20.07 € </p>

    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20vins/vi negre/negre%20dos.png"></a></div>
    <p>Nom: Ramón Bilbao</p>
    <p>Preu: 18.50 € </p>

    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20vins/vi negre/negre%20tres.png"></a></div>
    <p>Nom: Gran Tinto</p>
    <p>Preu: 10.75 € </p>

    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20vins/vi rosat/rosat%20u.png"></a></div>
    <p>Nom: Quelías Rose</p>
    <p>Preu: 7.10 € </p>

    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20vins/vi rosat/rosat%20dos.png"></a></div>
    <p>Nom: Barton & Gustier</p>
    <p>Preu: 11.90 € </p>

    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20vins/vi rosat/rosaat%20tres.png"></a></div>
    <p>Nom: Vi rosat Faustino VII</p>
    <p>Preu: 8.90 € </p>

    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20licors/whiskey/wiskey%20tres.png"></a></div>
    <p>Nom: Red Label whisky</p>
    <p>Preu: 15.90 € </p>

    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20licors/whiskey/wiskey%20dos.png"></a></div>
    <p>Nom: Jack Daniels</p>
    <p>Preu: 20.90 € </p>

    <br>
    <input type="submit" value="Compra ara">
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20licors/whiskey/wiskey%20u.png"></a></div>
    <p>Nom: Whisky Ballentines</p>
    <p>Preu: 11.90 € </p>

    <br>
    <input type="submit" value="Compra ara">
  </div>
</article>
<body>
<body>

