body{
  background-color: green;
}

article {
  border: 1px darkred;
  background-color: brown;
  height: 70%;
  width: 100%;
  display: block;
}

.imatge{
  height: 40%;
  width: 16%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: larger;
  margin-top: 10%;
}

.imatge img {
  height: 140px;
  width: auto;
}

.imatge h3{
  color: green;
}

.caixa{
  background: white;
  width: 250px;
  height: 300px;
  margin: 20px;
  text-align: center;
  flex-direction: row;
  display: inline-block;
}

