#footer_lletres{
  color: white
}
footer {
  border: 1px solid darkred;
  background-color: brown;
  height: 30%;
  width: auto;
  display: block;
  margin: auto;
  text-align: center;
}

.Facebook {
  height: 50px;
  margin: 0.5em;
}

.Twitter {
  height: 50px;
  margin: 0.5em;
}

.Instagram {
  height: 50px;
  margin: 0.5em;
}
