

<body style="height: 100%">

<article>
  <div class="container-form">
    <div class="info-form">
      <h2> Contacta'ns </h2>
      <p>Si us plau, fes-nos saber com et podem ajudar. Pots contactar amb nosaltres directament per xat, correu electrònic o telèfon. Estem fent tot el possible per garantir que rebeu una resposta el més aviat possible.</p>
      <p> Gràcies,</p>
      <br>
      <a href="#"> <i class="fa fa-phone">
      </i> 123-456-789 </a>
      <br>
      <a href="#"> <i class="fa fa-envelope">
      </i>contacte@champofwine.es</a>
      <br>
      <a href="#"> <i class="fa fa-map-marked">
      </i> Girona, Espanya </a>
    </div>
    <form action="#" autocomplete="off"></form>
  </div>
</article>

<aside id="right_aside">
  <input type="text" name="nom" placeholder="Introduïu el seu nom" class="controls">
  <input type="email" name="correu" placeholder="Introduïu el seu correu electrònic" class="controls">
  <textarea class="controls" name="missatge" placeholder="Missatge"></textarea>
  <input type="submit" name="enviar" value="Enviar missatge" class="btn-enviar">
</aside>

</body>



