
<body style="height: 100%">

<aside id="left_aside">
  <h1>Promoció de vins!!</h1>
  <img class="imatge" src="../../assets/imatges/fotos vins/vino.jpg">
  <h4> Vi a un 20% de descompte!</h4>
  <a routerLink="/cataleg" routerLinkActive="active" > Comprar ara</a>
</aside>
<article>
  <h1>Informació sobre nosaltres:</h1>
  <p> A Champ Of Wine treballem des del 2012 amb el nostre propi segell oferint serveis d'alt valor afegit a empreses del sector de licors.
    <br>
    Principalment, productors i distribuïdors de begudes etíliques d'Europa. Tot i això el nostre pricipal focus de treball es troba al mercat espanyol.
    <br>
    Oferim una àmplia selecció de serveis per a marques de begudes i més.
    <br>
    Ens considerem una consultora boutique: realitzem un volum de treballs petit amb un grup de treball molt reduït, però amb un valor afegit molt alt. A més, tenim un coneixement i experiència molt segmentat. En primer lloc, coneixem a la perfecció el mercat de les begudes: mixers, refrescos, destil·lats, cerveses i noves tendències a nivell global.</p>
</article>
<aside id="right_aside">
  <h1> Suggeriments de licors:</h1>
  <img class="imatge" src="../../assets/imatges/fotos licors/licor.jpg">
  <p> Beguda alcohòlica destil·lada feta de subproductes de la canya de sucre, com la melassa, o directament del suc de canya de sucre, mitjançant un procés de fermentació i destil·lació.</p>
</aside>

</body>

