.imatge {
  display: inline-flex;
  height: auto;
  width: 85%;
  justify-content: center;
  margin: 1em;
  text-align: center;
  font-size: larger;
}
#right_aside{
  color: #f2f2f2;
  border: 3px solid darkred;
  height: 30em;
  width: 20%;
  margin-left: 2px;
  float: right;
  display: inline-block;
  background-color: brown;
  text-align: center;
  font-style: italic;
}

#left_aside{
  color: #f2f2f2;
  border: 3px solid darkred;
  height: 30em;
  width: 20%;
  margin-right: 2px;
  float: left;
  display: inline-block;
  background-color: brown;
  text-align: center;
  font-style: italic;
}

article {
  color: #f2f2f2;
  border: 3px solid darkred;
  height: 30em; width: 57%;
  background-color: brown;
  display: inline-block;
  margin-left:8px;
  text-align: center;
  font-style: italic;
}
