
<aside>
  <form class="form-register">
    <h1>Registra't a la nostra botiga de licors</h1>
    <label for="username">Nom d'usuari: </label>
    <input class="controls" type="text" name="nom" id="username" placeholder="" required>
    <br>
    <label for="cognoms">Nom i cognoms: </label>
    <input class="controls" type="text" name="cognoms" id="cognoms" placeholder="" required>
    <br>
    <label for="telèfon">Telèfon de contacte: </label>
    <input class="controls" type="tel" name="telèfon" id="telèfon" placeholder="" required>
    <br>
    <label for="correu">Correu electrònic: </label>
    <input class="controls" type="email" name="correu" id="correu" placeholder="" required>
    <br>
    <label for="contrasenya">Contrasenya: </label>
    <input class="controls" type="password" name="contrasenya" id="contrasenya" placeholder="" required>
    <br>
    Data de naixement:
    <select name="Dia" id="dia">
      <option value="">Dia</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="28">28</option>
      <option value="29">29</option>
      <option value="30">30</option>
      <option value="31">31</option>
    </select>
    <select name="Mes" id="mes">
      <option value=""> Mes</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
    </select>
    <select name="Any" id="any">
      <option value=""> Any</option>
      <option value="2009">2009</option>
      <option value="2008">2008</option>
      <option value="2007">2007</option>
      <option value="2006">2006</option>
      <option value="2005">2005</option>
      <option value="2004">2004</option>
      <option value="2003">2003</option>
      <option value="2002">2002</option>
      <option value="2001">2001</option>
      <option value="2000">2000</option>
      <option value="1999">1999</option>
      <option value="1998">1998</option>
      <option value="1997">1997</option>
      <option value="1996">1996</option>
      <option value="1995">1995</option>
      <option value="1994">1994</option>
      <option value="1993">1993</option>
    </select>
    <br>
    <br>
    <label for="dirrecio">Direcció: </label>
    <input class="controls" type="text" name="direccio" id="dirrecio" placeholder="" required>
    <br>
    <br>
    <section id="venta">
      <h3> Tipus de comprador:</h3>
      <input class="controls" type="radio" name="empresa" id="particular" required>
      <label for="particular">Particular</label>
      <input class="controls" type="radio" name="empresa" id="empresa" required>
      <label for="empresa">Empresa</label>
    </section>
    <br>
    <br>
    <p>Estic d'acord amb els <a routerLink="/condicions" routerLinkActive="active" >Terminis i Condicions</a> </p>
    <p>Ja tens un compte? <a routerLink="/iniciaSessio" routerLinkActive="active">Inicia sessió</a> </p>
    <button id="registre" type="button" value="Registrat" >Registra't</button>
    <input type="reset" value="Tornar a fer el registre" id="">
  </form>
</aside>

