.imatge{
  display: inline-flex;
  height: 38%;
  width: auto;
  justify-content: center;
  margin: 8%;
  text-align: center;
  font-size: larger;
}

article {
  border: 1px darkred;
  background-color: brown;
  height: 70%;
  width: 100%;
  display: block;
  padding-bottom: 10%;
}

.imatge img {
  height: 140px;
  width: auto;
}

.imatge h3{
  color: green;
}

.caixa{
  background: white;
  width: 250px;
  height: 300px;
  margin: 20px;
  text-align: center;
  flex-direction: row;
  display: inline-block;
}
.caixa2{
  background: white;
  height: 30px;
  margin: 20px;
  text-align: center;
  flex-direction: row;
  display: block;
}

.text{
  padding-top: 5%;
  color: #f2f2f2;
  text-align: center;
  font-style: italic;
}

